<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-3.2.xsd"
	default-lazy-init="true">


	<context:component-scan base-package="com.cpf">
		 <context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan>
	
	<!-- 自动扫描的包名 -->    
	
	<!-- 读取配置文件 -->
	<bean id="configProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	

	<!-- 配置文件加载 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- order 属性可设置加载顺序 -->
		<!-- <property name="order" value="2" /> -->
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="properties" ref="configProperties" />
	</bean>

	<!-- 数据库映射 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="autoCommitOnClose" value="true" />
		<property name="checkoutTimeout" value="${c3p0.checkoutTimeout}" />
		<property name="initialPoolSize" value="${c3p0.minPoolSize}" />
		<property name="minPoolSize" value="${c3p0.minPoolSize}" />
		<property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
		<property name="acquireIncrement" value="${c3p0.acquireIncrement}" />
	</bean>

	<!--  数据库备份bean 
	<bean id="jdbcSettingBean" class="cc.messcat.common.model.JDBCSettingBean">
		<property name="mysqldump" value="${jdbc.mysqldump}" />
		<property name="host" value="${jdbc.host}" />
		<property name="userName" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="databaseName" value="${jdbc.databaseName}" />
		<property name="dataPath" value="${jdbc.dataBackupPath}" />
	</bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>

				<!-- 可以加多个包 -->
				<value>com.cpf.entity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- 设置数据库方言 -->
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<!-- 设置自动创建|更新|验证数据库表结构 -->
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<!-- 是否在控制台显示SQL -->
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<!-- 是否格式化SQL，优化显示 -->
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<!-- 是否开启二级缓存 <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop> -->
				<!-- 是否开启查询缓存 <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop> -->
				<!-- 数据库批量查询最大数 -->
				<prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
				<!-- 数据库批量更新、添加、删除操作最大数 -->
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
				<!-- 是否自动提交事务 -->
				<prop key="hibernate.connection.autocommit">${hibernate.connection.autocommit}</prop>
				<!-- 指定hibernate何时释放JDBC连接 -->
				<prop key="hibernate.connection.release_mode">${hibernate.connection.release_mode}</prop>
				<!-- 创建session方式hibernate4.x的方式 -->
				<prop key="hibernate.current_session_content_class">${hibernate.current_session_content_class}</prop>
				<!-- validation.mode的默认是auto，如果不设置成none则自动在classpath下找bean-validation**包 -->
				<prop key="javax.persistence.validation.mode">${javax.persistence.validation.mode}</prop>
			</props>
		</property>
	</bean>

	<!-- 配置Hibernate事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 声明式容器事务管理 ,transaction-manager指定事务管理器为transactionManager -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="socket*" propagation="REQUIRED" />
			<tx:method name="read*" propagation="REQUIRED" />
			<tx:method name="start*" propagation="REQUIRED" />
			<tx:method name="stop*" propagation="REQUIRED" />
			<tx:method name="sync*" propagation="REQUIRED" /> 
			<tx:method name="logic*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" /> 
		</tx:attributes>
	</tx:advice>
	<aop:aspectj-autoproxy/>
	<aop:config expose-proxy="true">

		<!--  只对业务逻辑层实施事务  -->
		<aop:pointcut id="txPointcut"
			expression="execution(* com.cpf.service..*.*(..)) or execution(* com.cpf.common.service..*.*(..))" />
 
		 <!-- Advisor定义，切入点和通知分别为txPointcut、txAdvice  -->
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice" />

	</aop:config>

	<!--配置定时器 
	<bean id="taskJob" class="cc.messcat.quartz.CommonSetting6Quartz">
		<property name="targetMethod">
			<value>run</value>
		</property>
	</bean>
	
	<bean id="myTrigger"	class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="name" value="work_default_name" />
		<property name="group" value="work_default" />
		<property name="jobDetail">
			<ref bean="taskJob"/>
		</property>
		<property name="cronExpression">
			<value>0 12 14 ? * *</value>
		</property>
	</bean>
 -->

</beans>